<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.huny.study.mapper.sampleMapper">
	<select id="selectBoardList" resultType="kr.huny.study.vo.tbBoardVO">
	<![CDATA[
	select
	    idx,
	    title,
	    hit_cnt,
	    crea_dtm
	from
	    tb_board
	where
		del_gb = 'N'
	order by idx desc
	]]>
	</select>
</mapper>
